NEXT_PUBLIC_API_URL=http://localhost:8000
BETTER_AUTH_SECRET=hackathon-todo-secret-key-minimum-32-characters-long-2024
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:npg_X1IdzE4fYqrK@ep-polished-night-ahjpmxih-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require 
